[build]
  command = "npm run build"
  publish = "out"

[build.environment]
  NODE_VERSION = "20"

[[plugins]]
  package = "netlify-plugin-git-lfs"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
